@model IEnumerable<BibliotecaAcademica.Models.Livro>
<link href="~/css/categorias.css" rel="stylesheet" />


<div class="corpo">
    @if(Model.Count() <= 0)
    {
        <div style="display:flex; align-items: center; flex-direction:column;">
            <h1>Não possui livros para essa categoria</h1>
            <label>Caso deseje, você pode adicionar um livro clicando do botão abaixo</label>
            <div class="livro">
                <a style="text-decoration:none; display: flex; flex-direction: column; align-items: center;">
                    <span class="adicionarLivro" onclick="AbrirTelaAdiconarLivro()">+</span>
                    <label>Adicionar Livro</label>
                </a>
            </div>
        </div>
    }
    else{
        @foreach (var item in Model)
        {
            <div class="livro">
                @if (string.IsNullOrEmpty(item.Capa) || (item.Capa == "semCapa"))
                {
                    <img src="~/Capas/semCapa.jpg" class="capaLivro" />
                }
                else
                {
                    <img src="~/Livros/@item.Titulo.Replace(" ", "_")/@item.Capa" class="capaLivro" />
                }
                <div class="informacoesLivro" style="-o-text-overflow:ellipsis;">
                    <a class="telaDeAdicaoDeLivro" style="font-size: 14pt; cursor:pointer; color: white; text-decoration: none; white-space:nowrap;" onclick="AbrirTelaDeDetalhes(@item.IdLivro)">
                        <span style="display:flex; overflow:hidden;">@item.Titulo</span>
                        <span style="display:flex; overflow:hidden; font-size: 9pt;">@item.Autor</span>
                    </a>
                </div>
            </div>
        }
    }
</div>

<div class="modal fade" id="detalhesLivro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="TituloDaTela"></h3>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>